.search-div{
  padding: 20px 15px;
}
.order-content{
  .col-15{
    width: 15%;
  }
  .col-10{
    width: 10%;
  }
}
.empty{
  height: 10px;
  width: 10px;
  display: inline-block;
  background-color: transparent;
}
.trigger{
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 20px;
  background-color: red;
  display: inline-block;
  font-style: normal;
  position: absolute;
  top:5px;
  right: 5px;
  font-size: 12px;
}
.col-8{
  width:8%;
}
.col-14{
  width:14%;
}
.search-input{
  width:85px !important;
  margin-right: 5px !important;
}
.add-content{
  padding: 30px 15px;
  .rui-radio-selected{
    display: inline-block;
    height: 16px;
    float: left;
    margin-top: 8px;
  }
  .table{
    width: 700px;
    thead{
      tr{
        background-color: #fff;
      }
    }
    tr{
      &:hover{
        background-color: #fff;
      }
    }
  }
  .m-l-110{
    margin-left: 110px;
  }
}

.add-upload{
  float: left;
}