.search-div{
  padding: 20px 15px;
}
.order-content{
  .col-15{
    width: 15%;
  }
  .col-10{
    width: 10%;
  }
  .col-20{
    width: 20%;
  }
  .col-30{
    width:30%
  }
}
.empty{
  height: 10px;
  width: 10px;
  display: inline-block;
  background-color: transparent;
}
.trigger{
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 20px;
  background-color: red;
  display: inline-block;
  font-style: normal;
  position: absolute;
  top:5px;
  right: 5px;
  font-size: 12px;
}
.col-8{
  width:8%;
}
.col-14{
  width:14%;
}
.search-input{
  width:85px !important;
  margin-right: 5px !important;
}
.add-content{
  padding: 30px 15px;
  .rui-radio-selected{
    display: inline-block;
    height: 16px;
    float: left;
    margin-top: 8px;
  }
  .table{
    width: 700px;
    thead{
      tr{
        background-color: #fff;
      }
    }
    tr{
      &:hover{
        background-color: #fff;
      }
    }
  }
  .m-l-110{
    margin-left: 110px;
  }
}

.add-upload{
  float: left;
}
.add-sku-btn {
  cursor: pointer;
  height: 16px;
  display: inline-block;
  margin-top: 10px;
  i{
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 0;
    margin-right: 10px;
    background: url(../../images/add-sku-btn.png)no-repeat;
  }
}
.ant-badge-count{
  box-shadow: none;
}
.ant-badge{
  position: absolute !important;
  top: -10px;
  right: -7px;
}
.bottom-line{
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 15px;
}
.detail-title{
  margin-top: 5px;
  margin-bottom: 10px;
}
.order-detail{
  .table{
    width: 50%;
  }
}
.company-list{
  z-index: 999;
  position: absolute;
  left: 71px;
  width: 168px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-top: none;
  li{
    padding-left: 10px;
    cursor: pointer;
    &:hover{
      background-color: #f2f2f2;
    }
  }
}
.line-32{
  line-height: 32px;
}
.add-dialog-input{
  margin-right: 30px !important;
  margin-top: 36px !important;
}
.m-t-36{
  margin-top:40px;
}
.brand-img{
  width:80px;
  height:80px;
}
.p-t-b-20{
  padding: 20px 0;
}
